.archive{
  margin: 10px;
  a:hover{
    color:#059;
    text-decoration: underline;
  }
  .children{
    margin: 5px 25px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .change{
    cursor: pointer;
    span{
      margin-right: 5px;
    }
  }
}
